<div class="bg-gray-900 min-h-screen text-gray-200 flex">
  <aside class="w-64 bg-gray-800 p-5 h-screen sticky top-0 flex flex-col">
    <div>
      <h2 class="font-bold text-xl mb-8 text-white flex items-center">
        <img src="assets/images/baitsinfondo.png" alt="Bait Logo" class="h-6 mr-2">
        <span>Panel Admin</span>
      </h2>
      <nav>
        <ul class="space-y-3">
          <li>
            <a routerLink="users" routerLinkActive="bg-blue-600 text-white font-semibold"
               class="flex items-center p-2 rounded-md hover:bg-gray-700 transition-colors duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M15 21a6 6 0 00-9-5.197m0 0A5.995 5.995 0 0012 12a5.995 5.995 0 00-3-5.197m0 0A4 4 0 119.646 3.646 4 4 0 0112 12a4 4 0 01-3 3.646z" /></svg>
              Gestión de Usuarios
            </a>
          </li>

          <li *ngIf="isCurrentUserAdmin">
          <a routerLink="roles" routerLinkActive="bg-blue-600 text-white font-semibold"
               class="flex items-center p-2 rounded-md hover:bg-gray-700 transition-colors duration-200">
               <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" /></svg>
              Gestión de Roles
            </a>
          </li>

          <li *ngIf="isCurrentUserAdmin">
          <a routerLink="states" routerLinkActive="bg-blue-600 text-white font-semibold"
               class="flex items-center p-2 rounded-md hover:bg-gray-700 transition-colors duration-200">
               <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              Gestión de Estados
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="mt-auto">
       <a routerLink="/home" class="flex items-center p-2 rounded-md text-sm text-gray-400 hover:bg-gray-700 hover:text-white transition-colors duration-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" /></svg>
        Volver a la App
      </a>
    </div>
  </aside>

  <main class="flex-1 p-8 overflow-y-auto">
    <router-outlet></router-outlet>
  </main>
</div>